<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <!-- <script src="/static/app.js"></script> -->

    <link rel="stylesheet" type="text/css" href="/static/bulma.min.css">
</head>

<body class="has-background-light">
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1">Bem-vindo ao Nosso Sistema!</h1>
                <p class="subtitle is-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <br>

                <div class="columns is-centered">
                    <div class="column is-half">
                        <p class="has-text-justified">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <br>

                <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="box has-background-white-ter">
                            <h2 class="title is-4 has-text-primary">Sobre Nós</h2>
                            <p class="has-text-justified">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit
                                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt.
                            </p>
                        </div>
                    </div>
                </div>

                <br>

                <button class="button is-info is-large" onclick="abrirModal()">Fazer Login</button>
                <br>
                <br>

                <div class="box has-background-primary-light">
                    <h2 class="title is-3 ">Solicitar Serviço</h2>
                    <form method="POST" id="adicnovo">
                        <!-- <div class="form"> -->
                        <div class="field">
                            <label class="label has-text-dark">Nome</label>
                            <div class="control">
                                <input id="nome" class="input" type="text" name="nome" placeholder="Seu nome">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label has-text-dark">Email</label>
                            <div class="control">
                                <input id="email" class="input" type="email" name="email" placeholder="Seu email">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label has-text-dark">Solicitação</label>
                            <div class="control">
                                <textarea id="solicit" class="textarea" type="text" name="solicit"
                                    placeholder="Descreve seu problema"></textarea>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary">Adicionar</button>
                            </div>
                            <!-- <div class="control"> -->
                            <button class="button is-link is-light" onclick="limpar()">Limpar</button>
                            <!-- </div> -->
                        </div>
                        <!-- </div> -->
                    </form>
                </div>


                <div class="modal" id="modalLogin">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box">
                            <h2 class="title is-4">Acesso ao Sistema</h2>

                            <form action="/clientes" method="POST">
                                <!-- <div class="form"> -->
                                <div class="field">
                                    <label class="label">Usuário</label>
                                    <div class="control">
                                        <input id="usern" class="input" type="text" name="username"
                                            placeholder="Seu usuário">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Senha</label>
                                    <div class="control">
                                        <input id="passw" class="input" type="password" name="password"
                                            placeholder="Sua senha">
                                    </div>
                                </div>

                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-primary">Entrar</button>
                                    </div>
                                    <!-- <div class="control">  retirado para não iniciar ação-->
                                    <button class="button is-link is-light" onclick="fecharModal()">Cancelar</button>
                                    <!-- </div> -->
                                </div>
                                <!-- </div> -->
                            </form>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close" onclick="fecharModal()"></button>
                </div>
            </div>
        </div>
    </section>
    <script>
        function limpar() {
            document.getElementById("adicnovo").reset();
        }


        function abrirModal() {
            document.getElementById('modalLogin').classList.add('is-active');
        }

        async function login() {
            const username = document.getElementById('usern').value;
            const password = document.getElementById('passw').value;
            console.log(username);
            // if (input.value.trim() !== '') {
            //     const response = await fetch(`${API_URL}/clientes`, {
            //         method: 'POST',
            //         headers: {
            //             'Content-Type': 'application/json',
            //         },
            //         body: JSON.stringify({ nome: input.value }),
            //     });
            //     if (response.ok) {
            //         input.value = '';
            //         pegaClientes();
            //     }
            // }

            // fecharModal();
        }

        function fecharModal() {
            document.getElementById('modalLogin').classList.remove('is-active');
        }
    </script>
</body>

</html>